<!-- <h1>Carsome Booking App</h1>
<h2>Welcome to Carsome Booking App, please input your username and set a booking from the menu</h2> -->
<mat-card>
  <mat-card-header>

    <mat-card-title>Carsome Booking App</mat-card-title>
    <mat-card-subtitle>Thank you for registering through Carsome</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      Your Registered Appointments in the System:
    </p>
    <mat-list role="list">      
      <mat-list-item *ngFor="let booking of bookings" role="listitem">
        <mat-icon matListIcon>calendar_today</mat-icon>
        <h3 mat-line>{{booking.username}}</h3>
        <p mat-line> {{booking.date | date : 'medium' : 'UTC'}} </p>
        <a href="{{booking.calendar}}" target="_blank" mat-icon-button>
          <mat-icon>add_alarm</mat-icon>
        </a>
        <button mat-icon-button>
          <mat-icon>delete_forever</mat-icon>
       </button>
      </mat-list-item>
    </mat-list>

  </mat-card-content>
  <!-- <mat-card-actions>
      <button mat-button [disabled]="!this.emailFormControl.valid" (click)="saveUser()">Save User</button>
      <button mat-button [disabled]="!isUserSaved" (click)="proceedBooking()">Proceed Booking</button>
    </mat-card-actions> -->
</mat-card>
